p{
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
    /* animation-duration: 4s; */
    animation-name: animacaoLegal;
    animation: animacaoLegal 2s infinite;;
}

@keyframes animacaoLegal {

    from {
        margin-left: 100% ;
        width: 300%;
        
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }


}